body
{
    background: #1e1f24;
    text-align: center;
    font-family: "Raleway";
    color:#333;
    padding: 0;
    font-size: 16px;    
}   

#container
{
    width: 70%;
    text-align: left;
    border: 1px solid #DDD;
    margin: 0 auto;
}

#container h1
{
    font-weight: 700;
    font-size: 25px;
    padding: 0 5% 0 5%;
}

#container p
{
    padding: 0 5% 0 5%;
}

#cabecera
{
    background-color: #110032;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.2);
    color:  white;
    margin:0;
    padding: 0.5em;
}

#cabecera #icono
{
    width: 35px;
    vertical-align: middle;
}

#cabecera #tagline
{
    padding: 0 0 0 1em;
    font-weight: normal;
    font-size: 25px;
    vertical-align: top;
}
#post
{
    background: white;
    padding: 1em;
}
#footer
{
    background-color: #110032;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.2);
    color: #fff;
    margin: 0;
    padding: 0.5em;
    text-align: center;
}